data/
results/


.snake*
*.snakemake*
.snakemake/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

.env/
.conda/
micromamba/
*.env
*.yml.lock

*.log
*.html
*.zip
*.png

.DS_Store
*.swp
*.swo
*.bak
Thumbs.db

.ipynb_checkpoints/
