/data/
/results/

.snake*
*.snakemake*
.snakemake/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

.env/
.conda/
micromamba/
*.env
*.yml.lock
.venv/

logs/
*.log
*.html
*.zip
*.png
*tmp.fa

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

.vscode/
.idea/

.ipynb_checkpoints/

.mypy_cache/
.pytest_cache/
.cache/

*.pid
*.seed
